
.about-container {
    position: relative;
    min-height: 100vh; 
    background-image: url('/images/IMG_4903 (1).jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .about-container .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
  }
  
  .about-content {
    display: flex; 
    justify-content: space-between; 
    width: 60%; 
    max-width: 1200px; 
  }
  
  .column {
    flex: 1; 
    margin: 0 60px; 
  }
  
  
  .about-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .section-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .section-content {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  .tech-list,
  .features-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  
  
  
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column; 
      width: 80%; 
    }
  
    .column {
      margin: 20px 0; 
    }
  
    .about-heading {
      font-size: 2.5rem; 
    }
  
    .section-heading {
      font-size: 1.8rem; 
    }
  
    .section-content {
      font-size: 1.1rem; 
    }
  }
  
  
  @media (max-width: 480px) {
    .about-content {
      flex-direction: column; 
      width: 90%; 
    }
  
    .column {
      margin: 15px 0; 
    }
  
    .about-heading {
      font-size: 2rem; 
    }
  
    .section-heading {
      font-size: 1.6rem; 
    }
  
    .section-content {
      font-size: 1rem; 
    }
  }
  