
  html, body {
  height: 100%;  
  margin: 0;  
  width: 100%; 
 
  }
  
  
  .hero-section {
    position: relative;
    height: 100vh;  
    display: flex;
    align-items: center;  
    justify-content: center;  
    color: white;
    
   
  }
  
  
  .hero-section .background-image {
    position: absolute;
    inset: 0;
    background-image: url('/images/IMG_4862 (1).jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;  
    overflow: hidden;  
  }
  
  
  .hero-section .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);  
  }
  
  
  .hero-section .content {
    position: relative;
    z-index: 10;  
    text-align: center;
    padding: 1rem;
    width: 100%;  
    box-sizing: border-box; 
  }
  
  
  .hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
  }
  
 
  .hero-section p {
    margin-top: 1rem;
    font-size: 1.50rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
  }
  
  
  .hero-section button {
    padding: 1rem 2rem;  /* Adjust button size */
    background-color: #e0e0e0;  /* Light background color */
    color: #333;  /* Text color */
    font-weight: 600;  /* Bold font */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;  /* Fully rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth transition */
    border: none;  /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
  }
  
  
  .hero-section button:hover {
    background-color: rgb(188, 143, 108);
  }
  
  
  @media (max-width: 768px) {
    .hero-section h1 {
      font-size: 2.5rem;
    }
  
    .hero-section p {
      font-size: 1.1rem;
    }
  
    .hero-section button {
      padding: 0.75rem 1.5rem;
    }
  }
  