/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    color: white;
    background-color: rgba(158, 125, 100, 0.85);
    position: relative;  
  }
  
 
  .logo-text {
    font-size: 2rem; 
    font-weight: bold;
    font-family: "Rubik Vinyl", serif;
  }
  
  
  .nav-links-desktop ul {
    list-style-type: none;
    display: flex;
    gap: 2.5rem; 
    padding: 0;
    margin: 0;
  }
  
  .nav-links-desktop li {
    display: inline;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.4rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav-link:hover {
    text-decoration: none;
    color: #ff7f50; 
  }
  
  
  .menu {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    display: none;  
  }
  
  
  .dropdown-menu {
    list-style-type: none;
    position: absolute;
    top: 20px; 
    left: 0;
    background-color: rgba(85, 60, 41, 0.85);
    width: 100%;
    padding: 1.5rem; 
    z-index: 10; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    border-radius: 5px;
  }
  
  .dropdown-menu li {
    text-align: center;
  }
  

  @media (max-width: 768px) {
    
    .menu {
      display: block;
      font-size: 1.8rem; 
    }
  
    
    .nav-links-desktop {
      display: none;
    }
  
   
    .dropdown-menu {
      width: 100%; 
      padding: 1rem;
    }
  }
  
  
  @media (min-width: 769px) {
    .nav-links-desktop {
      display: flex;
    }
  }
  