
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  
  .search-bar-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 80%; 
    position: relative;
    max-width: 600px; 
  }
  
  
  .search-bar {
    width: 100%; 
    padding: 12px 20px; 
    font-size: 1.2rem; 
    border: 2px solid #8d6e63; 
    border-radius: 30px; 
    outline: none;
    padding-left: 40px; 
    transition: all 0.3s ease; 
  }
  
  
  .search-bar:focus {
    border-color: #6d4c41; 
    box-shadow: 0 0 10px rgba(141, 110, 63, 0.5); 
  }
  
  
  .search-bar:hover {
    border-color: #6d4c41; 
  }
  
  
  .search-bar::placeholder {
    color: #6d4c41; 
    padding-left: 20px;
  }
  
 
  .material-icons {
    position: absolute;
    left: 15px; 
    font-size: 1.5rem; 
    color: #6d4c41; 
    pointer-events: none; 
    padding: 0 10px; 
  }
  
  
  @media (max-width: 768px) {
    .search-bar-wrapper {
      width: 90%; 
    }
  
    .search-bar {
      padding-left: 35px; 
      font-size: 1rem; 
    }
  
    .material-icons {
      font-size: 1.3rem; 
    }
  }
  
  @media (max-width: 480px) {
    .search-bar-wrapper {
      width: 95%; 
    }
  
    .search-bar {
      padding-left: 30px; 
      font-size: 0.9rem; 
    }
  
    .material-icons {
      font-size: 1.2rem; 
    }
  }
  