
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
 
  .search-bar-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    width: 60%; 
    position: relative;
  }
  
  
  .search-bar {
    width: 100%; 
    padding: 12px 20px; 
    font-size: 1.2rem; 
    border: 2px solid #8d6e63; 
    border-radius: 30px; 
    outline: none;
    transition: all 0.3s ease; 
  }
  
  
  .search-bar:focus {
    border-color: #6d4c41; 
    box-shadow: 0 0 10px rgba(141, 110, 63, 0.5); 
  }
  
  .search-bar:hover {
    border-color: #6d4c41; 
  }
  
  .search-bar::placeholder {
    color: #6d4c41; 
    padding-left: 20px;
  }
  
  
  .material-icons {
    position: absolute;
    left: 12px; 
    font-size: 1.5rem; 
    color: #6d4c41; 
    pointer-events: none; 
  }
  